@{
    ViewData["Title"] = "Registration";
}

<div class="container d-flex flex-column">
    <div class="row mt-2 justify-content-center">
        <img src="~/images/Logo.svg" class="col-3"/>
    </div>
    <h2 class="row justify-content-center mt-2">Registration</h2>

    <form class="d-flex flex-column" method="post" asp-controller="" asp-action="">
        <div class="row justify-content-center">
            <div class="col-4">
                <div class="form-group">
                    <input type="text" class="form-control"aria-describedby="NameHelp" 
                    placeholder="Name" style="text-align:center;">
                    <input type="text" class="form-control mt-2"aria-describedby="LastNameHelp" 
                    placeholder="Last name" style="text-align:center;">
                    <input type="text" class="form-control mt-2"aria-describedby="BirthDayHelp" 
                    placeholder="Birthday" style="text-align:center;">
                    <input type="text" class="form-control mt-2"aria-describedby="UsernameHelp" 
                    placeholder="Username" style="text-align:center;">
                    <input type="text" class="form-control mt-2" aria-describedby="GmailHelp" 
                    placeholder="Gmail" style="text-align:center;">
                    <input type="text" class="form-control mt-2" aria-describedby="PasswordHelp" 
                    placeholder="Password" style="text-align:center;">
                    <input type="text" class="form-control mt-2" aria-describedby="PasswordCheckHelp" 
                    placeholder="Repeat password" style="text-align:center;">
                </div>
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn mt-2" style="background-color: #757575;
                     color: white;">
                            Submit
                    </button>
                </div>
            </div>


        </div>

        
    </form>

</div>

<footer class="footer fixed-bottom"> 
    <div class="text-muted py-4" style="background-color: #757575;">
    <div class="container d-flex justify-content-center">
        <span style="color:white;">TSU, HITs 2022</span>
    </div>
    </div>
</footer>