@{
    ViewData["Title"] = "Home Page";
}

<header>
    <div class="navbar">
        <div class="container-fluid d-flex justify-content-end">
            <div class="nav-item">
                <div class="btn-group mt-3 me-3">
                    <button type="button" class="btn rounded-0 px-3 py-2" 
                    style="background-color: #B4B4B4; color: white;">
                        Log In
                    </button>
                    <button type="button" class="btn rounded-0 px-3 py-2" 
                    style="background-color: #757575; color: white;">
                        Sign In
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
