@{
    ViewData["Title"] = "News";
}

<nav class="navbar navbar-light border-bottom border-dark">
    <div class="container">
        <form class="form-inline">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
        </form>
        <img src="~/images/DefaultAvatar.svg" class="" alt="Photo">
    </div>
</nav>

<div class="container-sm mt-4">
    <div class="d-flex justify-content-center">
        <div class="card " style="width: 40rem;">
            <img src="..." class="card-img-top" alt="...">
        </div>
    </div>
</div>